// @import './variables';
@import './mixins.scss';


.filter-controls-container { ///for component at center
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.filter-button {
    @include button-style(#ce0094,white);

}
 
  

  