@import './variables';
@import './mixins';

.homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100vh;


  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  &__button {
    @include button-style(#fff, $primary-color);
    font-family: 'Monoton',cursive;
    font-size: 44px;
    border: 1px solid;
    position: relative;
    overflow: hidden; /// effect stays in button bounds
    width: 80%;
    background-color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
 


    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%; ///start fill from outside the button
      width: 100%;
      height: 100%;
      background: rgba($primary-color, 0.3); 
      transition: left 0.3s ease;

    }

    &:hover::before {
      left: 0;
    }

    &:hover {
      color: #fff;
    }
  }

  &__select {
    margin-top: 20px;
    padding: 10px 15px;
    border: 1px solid $primary-color;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    color: $primary-color;
    width: 200px;
    text-align: center;

    &:focus {
      outline: none;
      border-color: $secondary-color;
    }
  }

  &__right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .homepage__image {
      max-width: 60%;
      height: auto;

    }
  }
}